//Base
@import "base/reset";

//Abstracts
@import "abstracts/variables";

//Components
@import "components/buttons";

//Layout
@import "layout/wrapper";
@import "layout/header";
@import "layout/tripplan";


body {
    
    background-image: url(/src/img/header_background.svg);
    background-repeat: no-repeat;
    background-position: top center;

    background-color: rgb(196, 116, 116);
    
}