$color-primary: rgba(242, 120, 92, 1);
$color-secondary: rgba(13, 96, 111, 1);
$color-btn-text: #FFFFFF;
$color-nav-text: #FFFFFF;
$color-tripplan-title: #FFFFFF;
$color-tripplan-text: #FFFFFF;
$color-popup-facebook: #1877F2;

$content_width: 1200px;
$tablet-width: 860px;
$mobile-width:390px;