html, body, div, span, applet, object, iframe, button, input,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 1px;
}
@media screen and (max-width: 860px) {
  .wrapper {
    padding: 0 15px;
  }
}

header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  max-width: 1440px;
  margin: auto;
}
header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__wrapper .header__logo-mob {
  display: none;
}
header .header__wrapper .navigation__list {
  display: flex;
}
header .header__wrapper .navigation__list .list__item {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-right: 42px;
}
header .header__wrapper .navigation__list .list__item .list__link {
  text-decoration: none;
  color: #FFFFFF;
}
header .header__wrapper .navigation__list .list__item:last-child {
  margin-right: 0;
}
header .header__wrapper .header__burger {
  display: none;
}
header .header__wrapper .header__button {
  margin-top: 25px;
  margin-bottom: 24px;
}
header .header__wrapper .header__button button {
  padding: 10px 30px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  header .header__wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  header .header__wrapper .header__burger {
    display: block;
  }
  header .header__wrapper .header__button {
    display: none;
  }
  header .header__wrapper .header__navigation {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  header {
    background: none;
    box-shadow: none;
    padding-top: 43px;
  }
  header .header__wrapper .header__logo {
    display: none;
  }
  header .header__wrapper .header__logo-mob {
    display: block;
  }
}
.popup_owerlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
}

.popup {
  display: none;
  width: 560px;
  padding: 25px 45px;
  margin: 200px auto;
  border: 2px solid black;
  border-radius: 16px;
  background-color: gray;
  font-family: "Red Hat Text";
}
.popup .popup_title {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Aleo-Bold";
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: rgb(13, 96, 111);
}
.popup .popup_button,
.popup .popup_input,
.popup .popup_forgot-password,
.popup .popup_footer {
  text-align: center;
}
.popup .popup_input-area,
.popup .popup_button,
.popup .popup_button-fb,
.popup .popup_button-g,
.popup .popup_button-si {
  width: 100%;
}
.popup .popup_button {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  line-height: 25px;
  cursor: pointer;
}
.popup .popup_button .button-text {
  margin-left: 15px;
}
.popup .popup_button-fb {
  margin-bottom: 20px;
  color: #FFFFFF;
  background: #1877F2;
}
.popup .popup_button-g {
  margin-bottom: 30px;
  color: rgb(13, 96, 111);
  background: white;
}
.popup h2 {
  margin-bottom: 5px;
  font-family: "Aleo";
  line-height: 20px;
  color: rgb(13, 96, 111);
}
.popup .popup_input {
  height: 54px;
  width: 100%;
  border-radius: 10px;
}
.popup .input_email {
  margin-bottom: 20px;
}
.popup .input_password {
  margin-bottom: 25px;
}
.popup .popup_button-si {
  margin-bottom: 10px;
}
.popup .popup_forgot-password {
  display: block;
  margin: 0 auto 26px;
  color: rgb(13, 96, 111);
}
.popup .popup_footer {
  margin-top: 20px;
  color: rgba(13, 96, 111, 0.7);
}
.popup .popup_footer .popup_footer-link {
  color: rgb(13, 96, 111);
}

.tripplan {
  margin-top: 32px;
}
.tripplan .tripplan__block {
  max-width: 892px;
}
.tripplan .tripplan__block .tripplan__title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}
.tripplan .tripplan__block .tripplan__text {
  margin: 50px 0 46px 0;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.tripplan .tripplan__block .tripplan__search {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  padding: 18px 18px 18px 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tripplan .tripplan__block .tripplan__search .tripplan__input .form-input {
  width: 300px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgb(242, 120, 92);
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.tripplan .tripplan__block .tripplan__search .tripplan__input .form-input:focus {
  outline: none;
}
.tripplan .tripplan__block .tripplan__search .form-button {
  padding: 13.5px 32.5px;
}
.tripplan .tripplan__block .tripplan__search .form-button .form-link {
  text-decoration: none;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

@media screen and (max-width: 390px) {
  .tripplan .tripplan__block .tripplan__title {
    display: none;
  }
  .tripplan .tripplan__block .tripplan__text {
    display: none;
  }
  .tripplan .tripplan__block .tripplan__search {
    padding: 9px 9px 9px 16.5px;
  }
  .tripplan .tripplan__block .tripplan__search .tripplan__input .form-input {
    width: 165px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .tripplan .tripplan__block .tripplan__search .form-button {
    padding: 7.5px 9px;
  }
  .tripplan .tripplan__block .tripplan__search .form-button .form-link {
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
  }
}
.steps {
  margin-top: 334px;
}
.steps .steps__title {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: rgb(242, 120, 92);
  margin-top: 0;
  margin-bottom: 40px;
}
.steps .steps__cards {
  max-width: 1177px;
  display: flex;
  justify-content: space-between;
}
.steps .steps__cards .steps__item .steps__ico {
  display: block;
  margin: 0 auto 30px;
}
.steps .steps__cards .steps__item .ico-fix {
  margin-bottom: 22px;
}
.steps .steps__cards .steps__item .steps__ico-mob {
  display: none;
}
.steps .steps__cards .steps__item .steps__text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgb(13, 96, 111);
  text-align: center;
}
.steps .steps__cards .steps__item:first-child {
  margin-right: 45px;
}

@media screen and (max-width: 390px) {
  .steps {
    margin-top: 81px;
  }
  .steps .steps__title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .steps .steps__cards .steps__item {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .steps .steps__cards .steps__item .steps__ico {
    display: none;
  }
  .steps .steps__cards .steps__item .steps__ico-mob {
    display: block;
    margin-bottom: 19px;
  }
  .steps .steps__cards .steps__item .ico-fix {
    margin-bottom: 22px;
  }
  .steps .steps__cards .steps__item .steps__text {
    margin: 0;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
  .steps .steps__cards .steps__item:first-child {
    margin-right: 0;
  }
}
.destinations .destinations__title {
  margin: 0 0 16px 0;
  text-align: center;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: rgb(242, 120, 92);
}
.destinations .destinations__carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.destinations .destinations__carousel .img__central {
  margin: 20px 0;
}
.destinations .destinations__carousel-mob {
  display: none;
}
.destinations .destinations__control {
  display: flex;
  justify-content: center;
}
.destinations .destinations__control .control__circle {
  margin-top: 24px;
  margin-bottom: 40px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  background: rgba(242, 120, 92, 0.5);
}
.destinations .destinations__control .circle__center {
  margin-left: 10px;
  margin-right: 10px;
}
.destinations .destinations-button {
  display: block;
  margin: 0 auto;
  padding: 13.5px 31px 13.5px 81px;
}
.destinations .destinations-button .destinations-link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.destinations .destinations-button .destinations-link::before {
  content: url(../img/button_arrow-right.svg);
  position: absolute;
  left: -50px;
  top: -6px;
}

.destinations__wrapper {
  max-width: 1440px;
}

@media screen and (max-width: 390px) {
  .destinations .destinations__title {
    margin: 20px 0 20px 0;
    font-size: 14px;
    line-height: 19px;
  }
  .destinations .destinations__carousel {
    display: none;
  }
  .destinations .destinations__carousel-mob {
    display: flex;
    position: relative;
  }
  .destinations .destinations__carousel-mob .carousel-mob__item {
    position: relative;
  }
  .destinations .destinations__carousel-mob .carousel-mob__item .spain-mob {
    width: 80%;
  }
  .destinations .destinations__carousel-mob .carousel-mob__item .carousel-mob__text {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    position: absolute;
    left: 15px;
    bottom: 176px;
  }
  .destinations .destinations__carousel-mob .destinations__control-next {
    width: 30px;
    height: 30px;
    border: 0;
    border-top: 6px solid rgb(242, 120, 92);
    border-left: 6px solid rgb(242, 120, 92);
    border-radius: 3px;
    background: none;
    position: absolute;
    top: 50%;
    transform: translate(15px, -50%) rotate(-45deg);
  }
  .destinations .destinations__carousel-mob .destinations__control-prev {
    width: 30px;
    height: 30px;
    border: 0;
    border-top: 6px solid rgb(242, 120, 92);
    border-left: 6px solid rgb(242, 120, 92);
    border-radius: 3px;
    background: none;
    position: absolute;
    top: 50%;
    transform: translate(305px, -50%) rotate(135deg);
  }
  .destinations .destinations__control {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .destinations .destinations__control .control__circle {
    margin-top: 0;
    margin-bottom: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
  }
  .destinations .destinations__control .circle__center {
    margin-left: 10px;
    margin-right: 10px;
  }
  .destinations .destinations-button {
    display: block;
    margin: 0 auto;
    padding: 7.5px 12px 7.5px 28px;
  }
  .destinations .destinations-button .destinations-link {
    font-size: 11px;
    line-height: 15px;
    position: relative;
  }
  .destinations .destinations-button .destinations-link::before {
    content: url(/src/img/button_arrow-right.svg);
    position: absolute;
    transform: scale(30%);
    left: -32px;
    top: -14px;
  }
}
.stories {
  margin-top: 178px;
  background: rgba(255, 255, 255, 0.7);
}
.stories .stories__title {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: rgb(242, 120, 92);
  text-align: center;
  margin-bottom: 110px;
}
.stories .stories__article {
  display: flex;
  margin-top: 30px;
}
.stories .stories__article .article__img .img-desc {
  max-width: 400px;
  margin-right: 40px;
}
.stories .stories__article .article__img .img-mob {
  display: none;
}
.stories .stories__article .article__content .article__title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: rgb(13, 96, 111);
  margin-bottom: 24px;
}
.stories .stories__article .article__content .article__text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgb(13, 96, 111);
}
.stories .stories__article .article__content .article__text .article__link {
  color: rgb(13, 96, 111);
  font-weight: bold;
}
.stories .stories__button {
  padding: 13.5px 31px 13.5px 81px;
  display: block;
  margin: 0 auto;
}
.stories .stories__button .stories__link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
}
.stories .stories__button .stories__link::before {
  content: url(/src/img/button_arrow-right.svg);
  position: absolute;
  top: -3px;
  left: -50px;
}

@media screen and (max-width: 390px) {
  .stories {
    margin-top: 20px;
    padding-bottom: 13px;
  }
  .stories .stories__title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .stories .stories__article {
    margin-top: 15px;
  }
  .stories .stories__article .article__img .img-desc {
    display: none;
  }
  .stories .stories__article .article__img .img-mob {
    display: block;
    max-width: 155px;
    margin-right: 10px;
  }
  .stories .stories__article .article__content .article__title {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 10px;
  }
  .stories .stories__article .article__content .article__text {
    font-size: 9px;
    line-height: 11px;
  }
  .stories .stories__button {
    padding: 7.5px 13.5px 7.5px 29.5px;
    display: block;
    margin: 0 auto;
  }
  .stories .stories__button .stories__link {
    font-size: 11px;
    line-height: 15px;
  }
  .stories .stories__button .stories__link::before {
    content: url(/src/img/button_arrow-right.svg);
    transform: scale(30%);
    left: -32px;
    top: -14px;
  }
}
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .footer__title {
  text-align: center;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;
  position: relative;
}
.footer .footer__title .footer__icons {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.footer .footer__title .footer__icons .youtube__link {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 390px) {
  .footer {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .footer .footer__title {
    font-size: 0;
    line-height: 0;
  }
  .footer .footer__title .footer__icons {
    height: auto;
    position: static;
    margin: 0 auto;
    transform: none;
  }
}
body {
  background: url(../img/header_background.svg) top center no-repeat, url(../img/footer__background.svg) bottom center no-repeat;
}
@media screen and (max-width: 390px) {
  body {
    background: url(../img/header_background-mobile.svg) top center no-repeat, url(../img/footer__background-mob.svg) bottom center no-repeat;
  }
}

/*# sourceMappingURL=style.css.map */
