.steps{
    margin-top: 334px;
    margin-bottom: 100px;
    .steps__title{
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 53px;

        text-align: center;

        color: $color-primary; 
        
        margin-top: 0;
        margin-bottom: 40px;
    }
    .steps__cards{
        max-width: 1177px;
        display: flex;
        justify-content: space-between;
        .steps__item{ 
            width: 330px;
            .steps__item-link{                
                text-decoration: none;
                // :last-child{
                //     width: 108px;
                // }
                .steps__ico{
                    display: block;
                    margin: 0 auto 30px;
               } 
               .ico-fix{
                margin-bottom: 22px;
               }
               .steps__ico-mob{
                display: none;
               }
               .steps__text{
                    font-family: 'Aleo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
    
                    color: $color-secondary;
    
                    text-align: center;
               }
            //    &:first-child{
            //     margin-right: 45px;
            //    }
            }           
           
        //    &:last-child{
        //     margin-left: 160px;
        //    }
        }
    }
}

@media screen and (max-width: $mobile-width) {
    .steps{
        margin-top: 100px;        
        .steps__title{
            
            font-size: 14px;
            line-height: 19px;

            margin-bottom: 20px;
        }
        .steps__cards{ 
            display: flex;
            justify-content: space-between;          
            .steps__item{ 
                max-width: 100px;
                display: flex;
                flex-direction: column;                
                align-items: center;
                .steps__item-link{
                    margin-right: 0;
                }
                .steps__ico{
                    display: none;
                }          
               .steps__ico-mob{
                    display: block;
                    // margin: 0 auto 19px;
                    margin-bottom: 19px;
               } 
               .ico-fix{
                margin-bottom: 22px;
               }
               .steps__text{ 
                    margin: 0;                   
                    font-size: 10px;
                    line-height: 12px; 
                    
                    text-align: center;
               }
               &:first-child{
                margin-right: 0;
               }
            //    &:last-child{
            //     margin-left: 75px;
            //    }
            }
        }
    }
}