.destinations{
    .destinations__title{
        margin: 0 0 16px 0;

        text-align: center;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 53px;

        color: $color-primary;        
    }
    .destinations__carousel{
        display: flex;
        justify-content: center;
        overflow: hidden;
        .item__center{
            margin-right: 60px;
            margin-left: 60px;
        }
        .carousel__item{  
            position: relative;          
            .carousel__text{
                display: inline;
    
                font-family: 'Red Hat Text';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 42px;
    
                color: #FFFFFF;
    
                margin: 0;
                
                position: absolute;
                left: 15px;
                top: 718px;
            }
        }        
    }
    .destinations__carousel-mob{
        display: none;
    }
    .destinations__control{
        display: flex;
        justify-content: center;
        .control__circle{
            margin-top: 24px;
            margin-bottom: 40px;

            width: 20px;
            height: 20px;

            border-radius: 50%;
            border: 1px solid black;
            background: rgba(242, 120, 92, 0.5);
        }
        .circle__center{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .destinations-button{
        display: block;
        margin: 0 auto;
        padding: 13.5px 31px 13.5px 81px;
        .destinations-link{
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;

            color: #FFFFFF;

            text-decoration: none;
            position: relative;
            &::before{
                content: url(/src/img/button_arrow-right.svg);
                position: absolute;
                left: -50px;
                top: -6px;
            }            
        }
    }
}

.destinations__wrapper{
    max-width: 1440px;
}

@media screen and (max-width: $mobile-width){
    .destinations{
        .destinations__title{
            margin: 20px 0 20px 0;
    
            font-size: 14px;
            line-height: 19px;
         
        }
        .destinations__carousel{
            display: none;       
        }
        .destinations__carousel-mob{
            display: flex;
            position: relative;
            .carousel-mob__item{
                position: relative;
                .spain-mob{
                    width: 80%;
                }
                .carousel-mob__text {
                    margin: 0;

                    font-size: 20px;
                    line-height: 26px;

                    color: #FFFFFF;

                    position: absolute;
                    left: 15px;
                    bottom: 176px;
                }
            }
            .destinations__control-next{
                width: 30px;
                height: 30px;
                border: 0;
                border-top: 6px solid $color-primary;
                border-left: 6px solid $color-primary;
                border-radius: 3px;                
                position: absolute;     
                top: 50%;           
                transform: translate(15px, -50%) rotate(-45deg);                
            }
            .destinations__control-prev{
                width: 30px;
                height: 30px;
                border: 0;
                border-top: 6px solid $color-primary;
                border-left: 6px solid $color-primary;
                border-radius: 3px;
                position: absolute;     
                top: 50%;           
                transform: translate(305px, -50%) rotate(135deg);
            }
        }
        .destinations__control{
            display: flex;
            // justify-content: center;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            .control__circle{
                margin-top: 0;
                margin-bottom: 0;
    
                width: 8px;
                height: 8px;
    
                border-radius: 50%;                
                background: rgba(242, 120, 92, 0.5);
            }
            .circle__center{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .destinations-button{
            display: block;
            margin: 0 auto;
            padding: 7.5px 12px 7.5px 28px;
            .destinations-link{                
                font-size: 11px;
                line-height: 15px;    
                
                position: relative;
                &::before{
                    content: url(/src/img/button_arrow-right.svg);
                    position: absolute;
                    transform: scale(25%);
                    left: -32px;
                    top: -14px;
                }            
            }
        }
    }   
}