.tripplan{
    // background-image: url(/src/img/header_background.svg);
    margin-top: 32px;
    
    .tripplan__block{
        max-width: 892px;        
        .tripplan__title{
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 96px;
    
            color: $color-tripplan-title;
        }
        .tripplan__text{
            margin: 50px 0 46px 0;

            font-family: 'Aleo';
            font-style: italic;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;

            color: $color-tripplan-text;
        }
        .tripplan__search{
            background: rgba(255, 255, 255, 0.7);
            border-radius: 16px;
            padding: 18px 18px 18px 41px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            .tripplan__input{
                
                .form-input{                    
                    width: 300px;

                    font-family: 'Aleo';
                    font-style: italic;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;

                    color: $color-primary;

                    border: none;  
                    background-color: rgba(255, 255, 255, 0); 
                    
                    &:focus{                        
                        outline: none;
                    }
                }                
            }
            .form-button{
                padding: 13.5px 32.5px;
                .form-link{
                    text-decoration: none;

                    font-family: 'Red Hat Text';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;

                    color: #FFFFFF;

                    
                }
            }
        }
    }
    
}

@media screen and (max-width: $mobile-width){
    .tripplan{
        .tripplan__block{
            .tripplan__title{
                display: none;
            }
            .tripplan__text{
                display: none;
            }
            .tripplan__search{
                padding: 9px 9px 9px 16.5px;
                .tripplan__input{
                    .form-input{
                        width: 165px;

                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
                .form-button{
                    padding: 7.5px 9px;
                    .form-link{
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
        
}